@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F0F2F5;
    margin: 0px;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0px;
    height: 78px;
}

.head-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 96px;
    gap: 167px;
}

.name {
    font-family: "Jost", serif;
    color: #42B2FC;
    font-weight: weight;
    font-size: 36px;
}

.head > ul {
    list-style-type: none;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 29px;
    font-family: "Inter", serif;
    font-size: 18px;
}

.choose {
    text-decoration: none;
    padding: 2px;
    background-color: #42B2FC;
    border: 1px solid #42B2FC;
    color: white;  
    border-radius: 4px;
    transition: background-color 0.4s, color 0.4s;
}

.choose:hover {
    color: #42B2FC;
    background-color: white;
}

.enter {
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;
}

.enter:hover {
    color: rgba(0, 0, 0, 0.408);
}

.main {
    display: flex;
    /* width: 640px; */
    /* height: 500px; */
    position: relative;
    /* left: 288px; */
    background-color: red;
    /* font-family: "Inter", serif; */
    /* max-width: 640px;
    font-size: 56px;
    line-height: 58px;
    font-weight: 500; */
}